:root{
    --color-text-ligth:#ccc;
    --color-text-dark: #222;
    --color-text:#f3542a;
    --background-color: #085c78;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    background-color: #222;
}

.content {
    margin: 0 auto;
    max-width: 1280px;
}

header{
    width: 100%;
    position: sticky;
    z-index: 99;
    top: 0;
    padding: 0 10px;
    background-color: var(--color-text);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-text);
    padding: 15px;
}

.header-content-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header-content-logo:hover{
    transform: scale(1.1);
}

.header-content-logo a{
    margin: 0 5px;
    font-weight: bold;
    color: var(--color-text-dark);
    font-size: 2rem;
    text-decoration: none;
}

.header-content-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-content-menu ul li a{
    color: var(--color-text-dark);
    font-size: 3rem;
    text-decoration: none;
    margin: 5px;

}

.header-content-menu ul li a:hover{
    transform: scale(1.1);

}

.header-content a img{
    height: 40px;
}

main{
    width: 100%;
    padding: 0 10px;
    background-color: #222;
}


.main-content-hero{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    box-shadow: 5px 5px 10px #444;
    border: 1px solid var(--color-text);
}

.main-content-hero-gif{
    background-image: url(./../ASSETS/source.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 400px;
}

.main-content-hero-text{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    border-bottom: 5px solid var(--color-text);
    border-right: 5px solid var(--color-text);
}


.main-content-hero-text h1{
    margin-right: 10px;
    font-size: 6rem;
    font-weight: bold;
    color: var(--color-text-dark);
}

.main-container-card{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-content-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #f3542a;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #444;
    border: 3px solid var(--background-color);
}

.main-content-card-img img{
    border-radius: 10px;
    box-shadow: 5px 5px 10px #444;
    border: 1px solid var(--background-color);
}

.main-content-card-img img:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.main-content-card-text{
    margin-top: 10px;
    width: 90%;
    font-size: 1.5rem;
    color: var(--color-text-dark);
}

footer{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: var(--color-text);
    
}

.footer-content{
    background-color: var(--color-text);
    padding: 15px;
    margin-top: 10px;
}
.footer-content h1{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-text-dark);
}



@media screen and (max-width:400px) {
    html,body{
        font-size: 8px;
    }
    .header-content-logo a h1{
        display: none;
    }
}